doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Run & Kick

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-hash='run-kick')
        h1.bullet Run & Kick
        ul 
          li Projet du second trimestre de l'option Science de l'Ingénieur en seconde
          li Lycée François 1er
        p.bullet.name Pawel Dziurla - Rémi Onyszkiewicz - Louis Benoist--Foucher
        em.bullet 2014 - 2015

      section(data-bespoke-hash='our-game')
        h2.bullet Notre jeu
        ul
          li Votre but est d'atteindre la ligne d'arrivée le premier
          li Vous pouvez attaquer les autres joueurs

      section(data-bespoke-hash='technos')
        h3.bullet Technologies
        ul
          li HTML 
          li CSS
          li JavaScript
          li JQuery
          li NodeJS
          li Socket.IO
          li Node-WebKit
          li BespokeJS
          li Photoshop

      section(data-bespoke-hash='roles')
        h4.bullet Rôles
        ul
          li Pawel Dziurla : Graphiste
          li Rémi Onyszkiewicz : Game designer
          li Louis Benoist--Foucher : Développeur

      section(data-bespoke-hash='code')
        h5.bullet Code
        pre.bullet
          code.language-javascript.
            // On écoute le tactile du téléphone, et on envoi au serveur
            $('body').hammer().on('swipeleft',function(e){
              app.socket.emit('forward',{id:app.me.id,coeff:e.gesture.distance});
            });
        pre.bullet
          code.language-css.
            .username{
              display: block;
              position: absolute;
            }

      section.nozoom(data-bespoke-hash='img')
        h6.bullet Image
        img.pascal(src='images/pascal.png',alt='Pascal')    

    script(src='build/build.js')