*{
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
body{
	font-family: "Sans-Serif",Arial;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: #1A2530;
	width: 100%;
	overflow: hidden;
}

.username{
	display: block;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	z-index: 2;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 50px;
	margin: 0;
}.username input{
	display: block;
	margin: 50px auto 50px auto;
	width: 70%;
	height: 25px;
	line-height: 25px;
}.username .countdown{
	color:#ff0000;
	text-align:center;
	font-size: xx-large;
}

.attack{
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #fff;
	margin: 50px auto;
}