// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body 
	background-color:#1A2530
	color:#fff
	font-family:"Ubuntu",sans-serif

h1,h2,h3,h4,h5,h6
	color:#66D9F6
	font-size:70px
	margin-bottom:25px
	font-weight:normal

.bespoke-slide
	background-color:transparent

.bespoke-progress-bar
	background-color:#ddd

.bespoke-before
	-webkit-transform:translateX(100px)translateX(-320px)rotateY(-30deg)translateX(-320px)
	transform:translateX(100px)translateX(-320px)rotateY(-30deg)translateX(-320px)

.bespoke-after
	-webkit-transform:translateX(-100px)translateX(320px)rotateY(30deg)translateX(320px)
	transform:translateX(-100px)translateX(320px)rotateY(30deg)translateX(320px)
	
.nozoom
	zoom:1!important
	
.name
	font-size:small

.pascal
	width:576px